/* ANIMATION */

@keyframes apparition {
    to { opacity: 1; }
}

@keyframes curseur_none {
    to { border: 0px;}
}

@keyframes faire_apparaitre {
    to { visibility: visible;}
}

@keyframes curseur {
    50% {
        border-color: transparent;
    }
}

@keyframes typing_h1 {
    from { width: 0; }
    to { width: 31%; }
}

@keyframes typing_h2 {
    from { width: 0; }
    to { width: 27%; }
}

@keyframes flicker {
    0% { opacity: 1; text-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0; }
    50% { opacity: 0.8; text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 25px #0f0; }
    100% { opacity: 1; text-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0; }
}

/* ANIMATION DE L'ORDINATEUR */

@keyframes rotation_eng {
    from {
    transform: rotate(0deg);
  }
    to {
    transform: rotate(360deg);
  }
}

@keyframes open_window {
    0% { 
        width: 0px;
        height: 0px;
    }
    5% {
        width: 200px;
        height: 170px;
    }
    90% {
        width: 200px;
        height: 170px;

    }
    95% {
        width: 0px;
        height: 0px;
    }
}

@keyframes fade_in_balise {
    from {
        opacity: 0;
        transform: translate(-3px);
    } to {
        opacity: 1;
    }

}

@keyframes app_balise {
    0% {height: 0px; display: none;}
    60% {height: 0px; display: block; }
    100%{height: 50px;}
}

@keyframes app_balise_cloud {
    0% {width: 0px;}
    70% {width: 0px;}
    100%{width: 100px;}
}

@keyframes mouvement_cloud {
    0% {transform: translateY(-3px);}
    33% {transform: translateY(3px);}
    66% {transform: translateY(3px);}
    100% {transform: translateY(-3px);}
}

@keyframes rotation_html {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(18deg);}
    100% {transform: rotate(0deg);}
}


@keyframes apparition_bal {
    from { display: none;}
    to { display: none;}
}

/* CORPS PRINCIPAL / CORPS PRINCIPAL / CORPS PRINCIPAL */


body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/5_asfasw112.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.content-parralax {
    position: relative;
    z-index: 1; 
    background: rgba(255, 255, 255, 0.9); 
    padding: 50px;
}

section {
    padding: 2%;
    margin: 2%;
    margin-bottom: 100px;
}


button {
    background: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

/* HEADER */
/* reste en position fixe en haut*/
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo d'acceuil */
.img-logo {
    height: 60px; 
    border-radius: 30px;
    box-shadow: 0 0 0 3px rgba(148, 187, 233, 0.6);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
/* Logo d'acceuil */

/* navigation du menu a droite du header (sous forme de liste) */

.navigation {
    display: flex;
}

.menu {
    list-style: none;
    padding-right: 40px;
    margin: 0;
    display: flex;
    flex-direction: row; 
    gap: 10px; 
}

.menu li {
    text-align: left;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
/* fin de la navigation  */
/* FIN DU HEADER */

/* SECTION HOME / SECTION HOME */

.home {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* div principal (contient acceuil_div et l'animation ordinateur)*/
.acceuil-container {
    text-align: left;
    padding: 100px 20px;
    position: relative;
}

.acceuil-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Div de présentation */
.acceuil_div{
    display: flex;
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.acceuil_div h1, .acceuil_div h2 {
    font-family: 'Courier New', monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #0f0;
    color: #0f0;
    margin: 0%;
    position: absolute;
    left: 5%;
}

.acceuil_div h2 {
    left: 5%;
    top: 36%;
    font-size: 22px;
    visibility: hidden;
    animation: faire_apparaitre 0s linear 3s forwards, typing_h2 3s steps(30, end) 3s forwards, flicker 1.5s infinite alternate, curseur 1s step-start infinite;
}

.acceuil_div h1 {
    top: 28%;
    font-size: 50px;
    animation: typing_h1 2s steps(30, end) forwards, flicker 1.5s infinite alternate, curseur 1s step-start infinite, curseur_none 0s linear 3s forwards;
}

.acceuil_div p {
    position : absolute;
    overflow: hidden;
    margin: 0%;
    width: 46%;
    height : 100%;
    left: 5%;
    top : 42%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
                -2px -2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: apparition 2s ease-in-out forwards 3s ;
}

.acceuil_div a{
    position: absolute;
    overflow: hidden;
    left: 8%;
    top: 69%;
    display: inline-block;
    padding: 12px 25px; 
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: white; 
    background: #6a5acd; 
    border-radius: 25px; 
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    box-shadow: 0 0 0 3px rgba(148, 187, 233, 0.6); 
    transition: all 0.3s ease-in-out; 
    user-select: none; 
    opacity: 0;
    animation: apparition 2s ease-in-out forwards 3.5s;
    z-index: 1000;
}

.acceuil_div a:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px); 
}

.acceuil_div a:active {
    transform: translateY(0); 
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
}

.acceuil_div a:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(148, 187, 233, 0.6); 
}

.acceuil_div a:nth-of-type(2) {
    left: 27%;
    outline: none; 
}

/* FIN DU DIV DE PRESENTATION */

/* DEBUT DE L'ANIMATION ACCEUIL*/

.ordinateur {
    position : absolute;
    right: 210px;
    top: 28%;
    z-index: 10;
}

.ordinateur img {
    width: 300px;
    height: 300px;
}

.reflect-ordinateur {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    width: 200px;
    height: 60px;
    top: 65%;
    right: 260px;
}

.first_eng {
    position: absolute;
    right: 470px;
    top: 26%;
}

.first_eng img {
    height: 75px;
    width: 75px;
    animation: rotation_eng 2s linear 1s infinite;
}

.second_eng img {
    height: 75px;
    width: 75px;
    animation: rotation_eng 2s linear 1s infinite;
}

.second_eng {
    position: absolute;
    right: 200px;
    top: 24%;
}

.third_eng img {
    height: 75px;
    width: 75px;  
    animation: rotation_eng 2s linear 1s infinite reverse;
}

.third_eng {
    position: absolute;
    right: 152px;
    top: 31.5%
}

.smartphone img {
    height: 150px;
}

.smartphone {
    position: absolute;
    right: 185px;
    top: 58%;
    z-index: 11;
}

.shadow_phone {
    height: 30px;
    width: 90px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    right: 215px;
    top: 76%;
}

.page_computer img {
    width: 0px;
    height: 0px;
    animation: open_window 8s linear 3s infinite;
    transform-origin: left;
}

.page_computer {
    position: absolute;
    right: 290px;
    top: 32%;
    z-index: 12;
}

.bal_html {
    position: absolute;
    background-color: rgba(0, 255, 170, 0.7);
    border: 4px solid darkgray;
    border-radius: 10px;
    padding: 9px 7px 9px 7px;
    z-index: 13;
    right: 470px;
    top: 35%;
    opacity: 0;
    animation: fade_in_balise 1s linear 2s forwards, apparition_bal 2s linear;
}

.bal_html img {
    height: 50px;
    width: 50px;
    animation: app_balise 1s linear forwards , rotation_html 3s linear infinite;
}

.bal_check {
    position: absolute;
    background-color: rgba(0, 255, 170, 0.7);
    border: 3px solid darkgray;
    border-radius: 10px;
    padding: 9px 7px 9px 7px;
    z-index: 13;
    right: 236.5px;
    top: 63%;
    animation: fade_in_balise 1s linear 2s forwards, apparition_bal 2s linear;
}

.bal_check img {
    height: 60px;
    width: 28px;
    animation: app_balise 1s linear forwards , rotation_html 3s linear infinite;
}

.bal_cloud {
    position: absolute;
    background-color: rgba(0, 255, 170, 0.7);
    border: 3px solid darkgray;
    border-radius: 10px;
    padding: 9px 7px 9px 7px;
    z-index: 13;
    right: 310px;
    top: 24%;
    animation: fade_in_balise 1s linear 2s forwards, apparition_bal 2s linear;
}

.bal_cloud img {
    height: 35px;
    width: 90px;
    animation: app_balise_cloud 1s linear forwards, mouvement_cloud 3s linear 3s infinite;
}

.bal_eng {
    position: absolute;
    background-color: rgba(0, 255, 170, 0.7);
    border: 3px solid darkgray;
    border-radius: 10px;
    padding: 9px 7px 9px 7px;
    z-index: 13;
    right: 410px;
    top: 55%;
    animation: fade_in_balise 1s linear 2s forwards, apparition_bal 2s linear;
}

.bal_eng img {
    height: 50px;
    width: 50px;
    animation: app_balise 1s linear forwards , rotation_eng 2s linear 1s infinite reverse;
}

.icon_insta {
    position: absolute;
    right: 240px;
    top: 35%;
    z-index: 14;
}

.icon_insta img {
    width: 30px;
    height: 30px;
    animation: fade_in_balise 1s linear 6s forwards, apparition_bal 6s linear;
}

.icon_yt {
    position: absolute;
    right: 240px;
    top: 42%;
    z-index: 14;
}

.icon_yt img {
    width: 30px;
    height: 30px;
    animation: fade_in_balise 1s linear 7s forwards, apparition_bal 7s linear;
}

.icon_x {
    position: absolute;
    right: 240px;
    top: 49%;
    z-index: 14;
}

.icon_x img {
    width: 30px;
    height: 30px;
    animation: fade_in_balise 1s linear 8s forwards, apparition_bal 8s linear;
}

/* FIN DE L'ANIMATION DE L'ORDINATEUR*/
/* FIN DE LA SECTION HOME*/

/* DEBUT DE LA SECTION EXPERIENCE*/
.experience {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    overflow: hidden;
    height: 100vh;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.experience h2 {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(45deg, #d0a9f5, #b266ff, #9d4edd, #7b2cbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: inline-block;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.experience h4 {
    margin-bottom: 0%;
}

/* LIEE A L'ANIMATION JS*/
.experience-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-left: 10px;
    height: 100%;
}

/* LIEE A L'ANIMATION JS*/
.experience-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
                -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.experience-text h3 {
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(45deg, #d0a9f5, #b266ff, #9d4edd, #7b2cbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: inline-block;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.experience-base {
    flex-grow: 1; 
    margin-left: 10px;
    margin-top: 10px;
    align-items: flex-start;
}

/* LIEE A L'ANIMATION JS*/
.experience-skill {
    margin-top: auto; 
    margin-bottom: 10px;
    margin-left: 10px;
}

/* LIEE A L'ANIMATION JS*/
.experience-image {
    width: 35%;
    height: 100%;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    position: relative;
}

.experience-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* LIEE A L'ANIMATION JS*/
.experience-buttons {
    display: flex;
    margin-bottom: 30px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 10px;
}

.experience-buttons button {
    font-size: 15px;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    font-size: 18px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
                -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.experience-buttons button:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.experience-button.selected {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.button-separator {
    height: 40px;
    width: 1px;
    background-color: whitesmoke;
    opacity: 0.6;
}

/* LIEE A L'ANIMATION JS*/
.skill-tag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background: #666;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.skill-tag:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
/* ANIMATIONS JS DE LA SECTION EXPERIENCE*/
.fade-in {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.slide-out {
    transform: translateX(250px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
/* FIN DES ANIMATIONS JS DE LA SECTION EXPERIENCE*/

/* STYLE POUR ABOUT AU MOMENT DU REVERSE ROW */

.about-me {
    padding: 0px;
    height: 600px;
}

.about-me h2 {
    font-size: 100px;
    font-weight: bold;
    background: linear-gradient(45deg, #d0a9f5, #b266ff, #9d4edd, #7b2cbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center;
    display: inline-block;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.center_inline_block {
    text-align: center;
}

.about-container{
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.about-text {
    position: absolute;
    left: 10px;
    top: 20px;
    padding: 20px;
    width: 60%;
    height: 400px;
    display: block;
}

.about-text h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 33px;
}

.about-text p:nth-child(1) {
    text-align: center;
    margin-bottom: 30px;
}

.about-img {
    width: 31%;
    position: absolute;
    right: 10px;
    top: -5px;
    bottom: -5px;
    display: flex;
    height: 455px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.about-img:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
}

.about-img img {
    height: 230px;
    width: 220px;
    object-fit: cover;
    border-radius: 130px;
}

.reflect_img {
    position: relative
}

.reflect_img::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    transform: scaleY(-1);
    transform-origin: top;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 130px;
}

.reflect_img:hover::after {
    opacity: 1;
}

.reflect-ordinateur {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    width: 200px;
    height: 60px;
    top: 65%;
    right: 260px;
}

.about-img h3{
    font-size: xx-large;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
                -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.about-img button{
    padding: 15px 22px; 
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: white; 
    background: #6a5acd; 
    border-radius: 25px; 
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    box-shadow: 0 0 0 3px rgba(148, 187, 233, 0.6); 
    transition: all 0.3s ease-in-out; 
}

.about-img button:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px); 
}

form {
    display: flex;
    flex-direction: column;
}

.contact-div {
    position: absolute;
    right: 10px;
    width: 60%;
    flex-direction: row;
    display: flex;
}

.contact-div h2 {
    font-size: 30px;
    margin-bottom: 0;
}

form label {
    padding-top: 5px;
    padding-bottom: 5px;
}

form input {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 76%;
}

form button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px 10px; 
    font-size: 18px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    color: white; 
    background: #6a5acd; 
    border-radius: 25px; 
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    box-shadow: 0 0 0 3px rgba(148, 187, 233, 0.6); 
    transition: all 0.3s ease-in-out; 
}

.div1-contact {
    width : 65%;
}

.div2-contact {
    padding-top: 130px;
    width : 40%;
    text-align: center;
}

.div2-contact a {
    text-decoration: none;
    color: white;
}

form #phone {
    width: 60%;
}

form #email {
    width: 60%;
}

.contact-direct p {
    text-align: center;
}

.icon_reseaux {
    position: absolute;
    height: 90px;
    width: 300px;
    right: 20px;
    top: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: flex;
    animation: apparition 2s ease-in-out forwards 3.5s; 
}

.icon_reseaux img {
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in;

}

.icon_res {
    border: 2px solid white;
    border-radius: 100px;
    padding: 10px;
    padding-top: 12px;
}

.icon_res:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px);
}

.icon_res img:hover {
    height: 45px;
    width: 45px;
}

.icon_rese {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* SECTION COMPETENCE */
.skills {
    margin-top: 0%;
    padding-top: 0%;
}
.skills h2 {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(45deg, #d0a9f5, #b266ff, #9d4edd, #7b2cbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: inline-block;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 0%;
}

/* Caché sans casser le display:flex */
.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

/* Visible */
.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Animation du déplacement */
.move-left {
    transform: translateX(-177%);
    transition: transform 0.8s ease;
}

.filter_section {
    margin: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.skills-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    border-radius: 5px;
}

.skills-grid li {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.skills-grid li:hover {
    transform: translateY(-3px) translateX(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.skill_com {
    background-color: green;
    width: 33%;
    height: 500px;
    transition: 0.3s linear;
    position: relative;
    overflow: hidden;
    transition: 0.8s ease;
    background-image: url(Images/commercial_masther.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.skill_dev {
    background-color: red;
    width: 33%;
    height: 500px;
    transition: 0.8s linear;
    position: relative;
    overflow: hidden;
    transition: 0.8s ease;
    background-image: url(Images/dev_image.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.skill_tech {
    background-color: yellow;
    width: 33%;
    height: 500px;
    transition: 0.8s linear;
    position: relative;
    overflow: hidden;
    transition: 0.8s ease;
    background-image: url(Images/fond_tech.png);
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.skill_com:hover {
    width: 120%;
}

.skill_com:hover .list-comp-com {
    right: 2%;
    top: 30%;
}

.skill_com:hover .titre-comp-com {
    left: 0px;
    top: 3%;
    width: 100%;
}
.skill_com:hover .exp-comp-com {
    left: 2%;
    top: 30%;
}

.skill_com:hover .first_vue {
    display: none;
}

.skill_dev:hover {
    width: 120%;
}

.skill_dev:hover .list-comp-com {
    right: 2%;
    top: 30%;
}

.skill_dev:hover .titre-comp-com {
    left: 0px;
    top: 3%;
    width: 100%;
}

.skill_dev:hover .exp-comp-com {
    left: 2%;
    top: 30%;
}


.skill_dev:hover .first_vue {
    display: none;
}

.skill_tech:hover {
    width: 120%;
}

.skill_tech:hover .list-comp-com {
    left: auto;
    right: auto;
    top: 30%;
    width: 80%;
}

.skill_tech:hover .titre-comp-com {
    left: 0px;
    top: 3%;
    width: 100%;
}

.skill_tech:hover .first_vue {
    display: none;
}

.first_vue {
    height: 250px;
    width: 250px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
            -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.first_vue img {
    height: 50px;
    width: 50px;
}

.list-comp-com {
    height: 67%;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: absolute;
    right: -120%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.list-comp-com ul {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
            -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.list-comp-com li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.list-comp-com i {
    color: #007BFF; /* Bleu */
    margin-right: 10px;
    font-size: 1.2em;
}

.list-comp-com h4 {
    font-size: 22px;
    margin: 0px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
            -2px -2px 5px rgba(0, 0, 0, 0.3);
    padding-top : 15px;
}

.skill_com li {
    padding-top: 2px;
}

.titre-comp-com {
    height: 20%;
    width: 67%;
    position: absolute;
    right: -120%;
    top: 0%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
            -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.titre-comp-com h3 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

.titre-comp-com img {
    height: 40px;
    width: 40px;
}

.titre-comp-com p {
    margin: 0px;
    padding: 0px;
    
}

.skill_sep {
    padding: 1px;
    margin: 5px;
}

.exp-comp-com {
    height: 67%;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: -120%;
    top: 32%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.exp-comp-com ul {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
            -2px -2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;

}

.exp-comp-com li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.exp-comp-com i {
    color: #007BFF; 
    margin-right: 10px;
    font-size: 1.2em;
}

.exp-comp-com h4 {
    font-size: 22px;
    margin: 0;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 
            -2px -2px 5px rgba(0, 0, 0, 0.3);
    padding-top: 15px;
}

.separator {
    background-color: white;
    height: 1px;
    width: 40px;
}

.filter_exp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.first_vue h3 {
    font-size: 28px;
}

.tech-icon {
    width: 80px;
    height: 80px;
    padding: 5px;
    margin: 0px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in;
}

.tech-icon img {
    width: 60%;
    height: 60%;
    margin: 0px;
}

.tech-icon figcaption {
    font-size: 13px;
    padding-top: 5px;
}

.tech-icon:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,0.7) 0%, rgba(148,187,233,0.7) 100%);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translate(-3px, -3px); 
}

.skill_tech .list-comp-com {
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px;
    height: auto;
    justify-content: center;
}

.projet h2 {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(45deg, #d0a9f5, #b266ff, #9d4edd, #7b2cbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: inline-block;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.block_project > div {
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

.block_project > div.visible {
    opacity: 1;
    visibility: visible;
}

.block-1 {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5%;
    justify-content: flex-start;
    transition: 0.3q ease-in;
}

.block-2 {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5%;
    justify-content: flex-start;
    transition: 0.3q ease-in;
}
.block-3 {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5%;
    justify-content: flex-start;
    transition: 0.3q ease-in;
}
.block-4 {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5%;
    justify-content: flex-start;
    transition: 0.3q ease-in;
}

.project-container{
    padding: 10px;
    width: 30.53274822%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in;
}

.project-container:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translate(-3px, -3px);
    background-color: rgba(0, 0, 0, 0.5) ;

}

.project-container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.project-container h3 {
    text-transform: uppercase;
    background: linear-gradient(45deg, #d0a9f5, #b266ff, #9d4edd, #7b2cbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 0%;
    margin-top: 1%;

}

.project-button {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.project-container a {
    text-decoration: none;
    color: white; 
    background: gray;
    border-radius: 5px; 
    font-weight: bold;
    letter-spacing: 1px; 
    transition: all 0.3s ease-in-out; 
    padding: 5px;
    text-align: end;
}

.project-container a::after {
    content: '▼';
    font-size: 15px;
    color: white;
    background: #333;
    border-radius: 3px;
    padding: 2px 5px;
    margin-left: 10px;
    display: inline-block;
}

.project-container p {
    padding-left: 10px;
    padding-right: 10px;
}

.block_project {
    height: 60%;
    width: 100%;
    position: relative;
}

.projet {
    height: 100vh;
}
